* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: sans-serif;
	background-color: rgba(41, 5, 51, 0.931);
}

.container {
	height: 25em;
	width: 16.8em;
	background: linear-gradient(#3f006c, #750050, #b10042, #da4837, #f7bb38);
	position: absolute;
	transform: translate(-50%, -50%);
	top: 50%;
	left: 50%;
	z-index: 1;
	border-radius: 17em;
	animation: color 12s infinite forwards;
	overflow: hidden;
}

@keyframes color {
	10% {
		background: linear-gradient(#3f006c, #750050, #b10042, #da4837, #f7bb38);
	}
	53% {
		background: linear-gradient(#14045f, #331a99, #282bce, #1555ec, #1e84f7);
	}
	55% {
		background: linear-gradient(#14045f, #331a99, #282bce, #1555ec, #1e84f7);
	}
	98% {
		background: linear-gradient(#3f006c, #750050, #b10042, #da4837, #f7bb38);
	}
	100% {
		background: linear-gradient(#3f006c, #750050, #b10042, #da4837, #f7bb38);
	}
}

.spinner {
	height: 28.12em;
	width: 28.12em;
	// border: 1px solid white;
	border-radius: 50%;
	position: absolute;
	top: 8.75em;
	left: -5.62em;
	animation: spin 12s infinite forwards;
}

@keyframes spin {
	10% {
		transform: rotate(0deg);
	}
	45% {
		transform: rotate(180deg);
	}
	55% {
		transform: rotate(180deg);
	}
	90% {
		transform: rotate(360deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

.sun {
	background-color: #f7f7de;
	height: 3.75em;
	width: 3.75em;
	border-radius: 50%;
	position: absolute;
	left: 12.18em;
	top: -1.18em;
}

.sun::before,
.sun:after {
	position: absolute;
	content: "";
	background-color: rgba(255, 255, 255, 0.1);
	border-radius: 50%;
}

.sun::before {
	width: 7.5em;
	height: 7.5em;
	right: -1.87em;
	bottom: -1.87em;
}

.sun::after {
	width: 12.5em;
	height: 12.5em;
	right: -4.37em;
	bottom: -4.37em;
}

.ray1 {
	height: 0;
	width: 0.6em;
	border-bottom: 10.6em solid rgba(255, 255, 255, 0.1);
	border-left: 1.8em solid transparent;
	border-right: 1.8em solid transparent;
	position: absolute;
	transform: rotate(130deg);
	bottom: 0.6em;
	right: 4em;
}

.ray2 {
	height: 0;
	width: 0.9em;
	border-bottom: 10.6em solid rgba(255, 255, 255, 0.1);
	border-left: 2.1em solid transparent;
	border-right: 2.1em solid transparent;
	position: absolute;
	transform: rotate(230deg);
	bottom: -0.3em;
	left: 3.75em;
}

.ray3 {
	height: 0;
	width: 0.3em;
	border-bottom: 12.5em solid rgba(255, 255, 255, 0.1);
	border-left: 0.9em solid transparent;
	border-right: 0.9em solid transparent;
	position: absolute;
	transform: rotate(80deg);
	bottom: -5.5em;
	left: -5.3em;
}

.ray4 {
	height: 0;
	width: 0.1em;
	border-bottom: 12.5em solid rgba(255, 255, 255, 0.1);
	border-left: 0.5em solid transparent;
	border-right: 0.5em solid transparent;
	position: absolute;
	transform: rotate(280deg);
	bottom: -5.6em;
	left: 7.5em;
}

.moon {
	height: 3.75em;
	width: 3.75em;
	box-shadow: 1.25em -1.25em 0 0 #f7f7de;
	border-radius: 50%;
	position: absolute;
	bottom: -3.1em;
	left: 10.93em;
}

.moon::after,
.moon::before {
	position: absolute;
	content: "";
	background-color: rgba(255, 255, 255, 0.1);
	border-radius: 50%;
}

.moon::before {
	height: 6.25em;
	width: 6.25em;
	right: -2.5em;
	bottom: 0;
}

.moon::after {
	height: 11.8em;
	width: 11.8em;
	left: -2.8em;
	bottom: -2.8em;
}

.stars {
	height: 0.15em;
	width: 0.15em;
	background-color: #fff;
	position: absolute;
	top: 3.7em;
	left: 9.3em;
	border-radius: 50%;
	box-shadow: 3em 9.3em #fff, -1.8em 11.2em #fff, 2.5em 16.2em #fff, -5em 6.2em #fff, -5.6em 3.7em 0 0.06em #fff, -5em 17.5em 0 0.05em #fff, -7.5em 14.3 #fff;
}